* {
  text-align: center;
}
body {
  background: #47b364;
  padding-top: 50px;
}
.line--mitter {
  stroke-linejoin: mitter;
}
.line--round {
  stroke-linejoin: round;
}
.line--bevel {
  stroke-linejoin: bevel;
}
.kpages {
  -webkit-animation: 5s animatePath infinite;
  stroke-width: 15;
  opacity: 0;
}
.first-square,
.third-square {
  fill: #9c3;
}
.second-square {
  fill: #65cc33;
}
.first-square,
.second-square,
.third-square,
.logo-kp {
  opacity: 0;
  animation: animateColors 5s infinite;
}
@-webkit-keyframes animatePath {
  0% {
    stroke-dasharray: 0 100%;
    opacity: 0;
  }
  60% {
    stroke-dasharray: 100% 0;
    opacity: 1;
    fill: transparent;
  }
  90% {
    stroke-dasharray: 100% 0;
    opacity: 1;
    fill: #9c3;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes animateColors {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
